@{
    ViewBag.Title = "About";
}
<h2>ABOUT US</h2>
<h3>General</h3>

<p>This store was established to provide diverse toys for children with suitable price. Besides, all products were made of safe materials.</p>
<p>Our goal is to bring games which can help children playing and studying at the same time.</p>
