@{
    ViewBag.Title = "Contact";
}
<h2>Contact our team.</h2>
<h3>Let explore to our shop</h3>

<address>
    19 Nguyen Huu Tho, Tan Hung, District 7, Ho Chi Minh city<br />
    <abbr title="Phone">P:</abbr>
    0905222222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ChildrenToy_Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ChildrenToy_Marketing@example.com</a>
</address>